* {
    padding: 0;
    margin: 0;
}

.sky {
    position: absolute;
    background-color: #87CEEB;
    height: 60%;
    width: 100%;

}

.ground {
    position: absolute;
    background-color: rgba(232, 215, 187, 255);
    height: 40%;
    width: 100%;
    bottom: 0;
}

.sidewalk-right-shadow {
    position: absolute;
    height: 11px;
    width: 461px;
    right: 1px;
    bottom: 198px;
    background-color: #d4c4aa;
}

.sidewalk-right {
    position: absolute;
    height: 18px;
    width: 445px;
    right: 1px;
    bottom: 209px;
    background-color: #ffeccc;
}

.sidewalk-right-top {
    position: absolute;
    height: 147px;
    width: 16px;
    bottom: 0px;
    right: 445px;
    background: #ffeccc;
}

.sidewalk-left-shadow {
    position: absolute;
    height: 11px;
    width: 461px;
    left: 0px;
    bottom: 198px;
    background-color: #d4c4aa;
}

.sidewalk-left {
    position: absolute;
    height: 18px;
    width: 445px;
    left: 0px;
    bottom: 209px;
    background-color: #ffeccc;
}

.sidewalk-left-top {
    position: absolute;
    position: absolute;
    height: 147px;
    width: 16px;
    bottom: 0px;
    left: 445px;
    background: #ffeccc;
}

.grass-right {
    position: absolute;
    height: 129px;
    width: 445px;
    bottom: 227px;
    right: 1px;
    background-color: #bcdb37;
}

.grass-left {
    position: absolute;
    height: 129px;
    width: 445px;
    bottom: 227px;
    background-color: #bcdb37;
}

.building {
    position: relative;
}

.building-right .base {
    position: absolute;
    height: 22px;
    width: 463px;
    bottom: -533px;
    right: 107px;
    background-color: #fefefe;
}

.building-right .top {
    position: absolute;
    height: 389px;
    width: 32px;
    right: 107px;
    bottom: -533px;
    background-color: #e95c20;
}

.building-left .base {
    position: absolute;
    height: 22px;
    width: 463px;
    bottom: -533px;
    left: 107px;
    background-color: #fefefe;
}

.building-left .top {
    position: absolute;
    height: 389px;
    width: 32px;
    left: 107px;
    bottom: -533px;
    background-color: #e95c20;

}

.building-right .back {
    position: absolute;
    height: 364px;
    width: 430px;
    bottom: -511px;
    right: 139px;
    background-color: #ab4a1f;
}

.building-left .back {
    position: absolute;
    height: 364px;
    width: 430px;
    bottom: -511px;
    left: 139px;
    background-color: #ab4a1f;

}

.building-middle .back {
    position: absolute;
    height: 454px;
    width: 542px;
    bottom: -533px;
    left: 569px;
    background-color: #ab4a1f;
}

.building-right .haut {
    position: absolute;
    border-radius: 0px 151px 33px 0px;
    background-color: white;
    height: 13px;
    width: 474px;
    bottom: -147px;
    right: 95px;
}

.building-middle .haut {
    position: absolute;
    border-radius: 150px 150px 31px 32px;
    background-color: white;
    height: 13px;
    width: 560px;
    bottom: -79px;
    right: 558px;
}

.building-left .haut {
    position: absolute;
    border-radius: 150px 0px 0px 32px;
    background-color: white;
    height: 13px;
    width: 474px;
    bottom: -147px;
    left: 95px;
}

.tree-right {
    position: relative;
}

.canneright {
    position: absolute;
    height: 166px;
    width: 23px;
    background-color: #a3623c;
    right: 71px;
    bottom: -610px;
}


.canneright-left {
    position: absolute;
    border-radius: ;
    border-top: 2px solid #a3623c;
    border-right: 2px solid #a3623c;
    bottom: ;
    left: ;
    rotate: ;

}

.circle1 {

}

.circle1 {}

.circle3 {}

.tree-left {
    position: relative;

}

.circle4 {}

.circle5 {}

.circle6 {}

.canneleft {
    position: absolute;
}