* {
    padding: 0;
    margin: 0;
}

.sky {
    position: absolute;
    background-color: #87CEEB;
    height: 60%;
    width: 100%;

}

.ground {
    position: absolute;
    background-color: rgba(232, 215, 187, 255);
    height: 40%;
    width: 100%;
    bottom: 0;
}

.sidewalk-right-shadow {
    position: absolute;
    height: 11px;
    width: 461px;
    right: 1px;
    bottom: 206px;
    background-color: #d4c4aa;
}

.sidewalk-right {
    position: absolute;
    height: 18px;
    width: 445px;
    right: 1px;
    bottom: 218px;
    background-color: #ffeccc;
}

.sidewalk-right-top {
    position: absolute;
    height: 147px;
    width: 16px;
    bottom: 0px;
    right: 445px;
    background: #ffeccc;
}

.sidewalk-left-shadow {
    position: absolute;
    height: 11px;
    width: 461px;
    left: 0px;
    bottom: 207px;
    background-color: #d4c4aa;
}

.sidewalk-left {
    position: absolute;
    height: 18px;
    width: 445px;
    left: 0px;
    bottom: 218px;
    background-color: #ffeccc;
}

.sidewalk-left-top {
    position: absolute;
    position: absolute;
    height: 147px;
    width: 16px;
    bottom: 0px;
    left: 445px;
    background: #ffeccc;
}

.grass-right {
    position: absolute;
    height: 129px;
    width: 445px;
    bottom: 236px;
    right: 1px;
    background-color: #bcdb37;
}

.grass-left {
    position: absolute;
    height: 129px;
    width: 445px;
    bottom: 236px;
    background-color: #bcdb37;
}

.building {
    position: relative;
}
.building-right{
    position: relative;
}

.building-right .base {
    position: absolute;
    height: 22px;
    width: 463px;
    bottom: -547px;
    right: 107px;
    background-color: #fefefe;
}

.building-right .top {
    position: absolute;
    height: 389px;
    width: 32px;
    right: 107px;
    bottom: -547px;
    background-color: #e95c20;
}

.building-left .base {
    position: absolute;
    height: 22px;
    width: 461px;
    bottom: -547px;
    left: 108px;
    background-color: #fefefe;
}

.building-left .top {
    position: absolute;
    height: 389px;
    width: 32px;
    left: 107px;
    bottom: -547px;
    background-color: #e95c20;
}

.building-right .back {
    position: absolute;
    height: 364px;
    width: 430px;
    bottom: -525px;
    right: 139px;
    background-color: #ab4a1f;
}
.square1{
    position: absolute;
    height: 10px;
    border-radius: 0px 100px 100px 0px;
    width: 20px;
    background-color: #be4a19;
    bottom: -186px;
    right: 119px;
}
.square2{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    border-radius: 0px 100px 100px 0px;
    bottom: -223px;
    right: 119px;
}
.square3{
    position: absolute;
    height: 10px;
    width: 20px;
    border-radius: 0px 100px 100px 0px;
    background-color: #be4a19;
    bottom: -259px;
    right: 119px;
}
.square4{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    border-radius: 0px 100px 100px 0px;
    bottom: -294px;
    right: 119px;
}
.square5{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    border-radius: 0px 100px 100px 0px;
    bottom: -326px;
    right: 119px;
}
.square6{
    position: absolute;
    height: 10px;
    width: 20px;
    border-radius: 0px 100px 100px 0px;
    background-color: #be4a19;
    bottom: -361px;
    right: 119px;
}
.square7{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    border-radius: 0px 100px 100px 0px;
    bottom: -402px;
    right: 119px;
}
.square8{
    position: absolute;
    height: 10px;
    border-radius: 0px 100px 100px 0px;
    width: 20px;
    background-color: #be4a19;
    bottom: -443px;
    right: 119px;
}
.square9{
    position: absolute;
    border-radius: 0px 100px 100px 0px;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    bottom: -481px;
    right: 119px;
}
.square10{
    position: absolute;
    border-radius: 0px 100px 100px 0px;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    top: 507px;
    right: 119px;
}

.building-left .back {
    position: absolute;
    height: 364px;
    width: 430px;
    bottom: -525px;
    left: 139px;
    background-color: #ab4a1f;
}
.square11{
    position: absolute;
    height: 10px;
    border-radius: 100px 0px 0px 100px;
    width: 20px;
    background-color: #be4a19;
    bottom: -186px;
    left: 119px;
    z-index: 2;

}
.square12{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    border-radius: 100px 0px 0px 100px;
    bottom: -223px;
    left: 119px;
    z-index: 2;

}
.square13{
    position: absolute;
    height: 10px;
    width: 20px;
    border-radius: 100px 0px 0px 100px;
    background-color: #be4a19;
    bottom: -259px;
    left: 119px;
    z-index: 2;

}
.square14{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    border-radius: 100px 0px 0px 100px;
    bottom: -294px;
    left: 119px;
    z-index: 2;

}
.square15{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    border-radius: 100px 0px 0px 100px;
    bottom: -326px;
    left: 119px;
    z-index: 2;

}
.square16{
    position: absolute;
    height: 10px;
    width: 20px;
    border-radius: 100px 0px 0px 100px;
    background-color: #be4a19;
    bottom: -361px;
    left: 119px;
    z-index: 2;

}
.square17{
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    border-radius: 100px 0px 0px 100px;
    bottom: -402px;
    left: 119px;
    z-index: 2;

}
.square18{
    position: absolute;
    height: 10px;
    border-radius: 100px 0px 0px 100px;
    width: 20px;
    background-color: #be4a19;
    bottom: -443px;
    left: 119px;
    z-index: 2;

}
.square19{
    position: absolute;
    border-radius: 100px 0px 0px 100px;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    bottom: -481px;
    left: 119px;
    z-index: 1;

}
.square20{
    position: absolute;
    border-radius: 100px 0px 0px 100px;
    height: 10px;
    width: 20px;
    background-color: #be4a19;
    top: 507px;
    left: 119px;
    z-index: 2;

}

.building-middle .back {
    position: absolute;
    height: 454px;
    width: 782px;
    bottom: -547px;
    left: 569px;
    background-color: #ab4a1f;
}

.building-right .haut {
    position: absolute;
    border-radius: 0px 151px 33px 0px;
    background-color: white;
    height: 13px;
    width: 474px;
    bottom: -161px;
    right: 95px;
}

.building-middle .haut {
    position: absolute;
    border-radius: 150px 150px 31px 32px;
    background-color: white;
    height: 13px;
    width: 825px;
    bottom: -93px;
    right: 552px;
}

.building-left .haut {
    position: absolute;
    border-radius: 150px 0px 0px 32px;
    background-color: white;
    height: 13px;
    width: 474px;
    bottom: -162px;
    left: 95px;
}

.tree-right {
    position: relative;
}
.flower-right-front{
    position: absolute;
    bottom: -642px;
    left: 1684px;
    height: 119px;
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 101%/33% 60%,var(--g) 70% 0/50% 94%,var(--g) 0 100%/30% 61%,var(--g) 21% 18%/26% 50%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #d3f82e;
    z-index: 3;
}
.flower-right-back{
    position: absolute;
    bottom: -606px;
    left: 1520px;
    height: 131px;
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 101%/33% 60%,var(--g) 70% 0/50% 94%,var(--g) 0 100%/30% 61%,var(--g) 21% 18%/26% 50%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #b6d329;
    z-index: 2;
}
.canneright {
    position: absolute;
    height: 208px;
    width: 23px;
    background-color: #a3623c;
    right: 71px;
    bottom: -610px;
    z-index: 1;
    border-radius: 30%;
}
.canneright-right{    position: absolute;
        --b: 13px; /* the boder thickness */
        --a: 127deg; /* control the progression */
        width: 53px;
        aspect-ratio: 1;
        padding: var(--b);
        border-radius: 50%;
        background: #a2623b;
        --_g:/var(--b) var(--b) no-repeat
          radial-gradient(50% 50%,#000 97%,#0000);
        mask: top var(--_g),
          calc(50% + 50%*sin(var(--a))) 
          calc(50% - 50%*cos(var(--a))) var(--_g),
          linear-gradient(#0000 0 0) content-box intersect,
          conic-gradient(#000 var(--a),#0000 0);
        bottom: 106px;
        right: -44px;
        rotate: 71deg;
}


.canneright-left {
    position: absolute;
    --b: 13px; /* the boder thickness */
    --a: 97deg; /* control the progression */
    width: 54px;
    aspect-ratio: 1;
    padding: var(--b);
    border-radius: 50%;
    background: #a2623b;
    --_g:/var(--b) var(--b) no-repeat
      radial-gradient(50% 50%,#000 97%,#0000);
    mask: top var(--_g),
      calc(50% + 50%*sin(var(--a))) 
      calc(50% - 50%*cos(var(--a))) var(--_g),
      linear-gradient(#0000 0 0) content-box intersect,
      conic-gradient(#000 var(--a),#0000 0);
    bottom: 156px;
    right: -14px;
    rotate: 172deg;
}

.tree-left {
    position: relative;

}
.flower-left-front{
    position: absolute;
    bottom: -642px;
    left: 21px;
    height: 119px;
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 101%/33% 60%,var(--g) 70% 0/50% 94%,var(--g) 0 100%/30% 61%,var(--g) 21% 18%/26% 50%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #d3f82e;
    z-index: 3;
}
.flower-left-back{
    position: absolute;
    bottom: -606px;
    left: 128px;
    height: 131px;
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 101%/33% 60%,var(--g) 70% 0/50% 94%,var(--g) 0 100%/30% 61%,var(--g) 21% 18%/26% 50%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #b6d329;
    z-index: 2;
}

.canneleft {
    position: absolute;
    
    height: 208px;
    width: 23px;
    background-color: #a3623c;
    left: 71px;
    bottom: -610px;
    z-index: 1;
    border-radius: 30%;
}
.canneleft-left{
    position: absolute;
    --b: 13px; /* the boder thickness */
    --a: 97deg; /* control the progression */
    width: 54px;
    aspect-ratio: 1;
    padding: var(--b);
    border-radius: 50%;
    background: #a2623b;
    --_g:/var(--b) var(--b) no-repeat
      radial-gradient(50% 50%,#000 97%,#0000);
    mask: top var(--_g),
      calc(50% + 50%*sin(var(--a))) 
      calc(50% - 50%*cos(var(--a))) var(--_g),
      linear-gradient(#0000 0 0) content-box intersect,
      conic-gradient(#000 var(--a),#0000 0);
    bottom: 156px;
    right: -14px;
    rotate: 172deg;
}
.windows{
    position: relative;
}
.window-right{

}
.win1-tip{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 155px;
    right: 390px;
    bottom: -182px;
    border-radius: 100px 100px 100px 100px;
}
.window-right .win1{
    position: absolute;
    border: 5px solid white;
    background-color: #3e768e;
    height: 115px;
    width: 125px;
    right: 400px;
    bottom: -307px;
}
.win2-tip{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 155px;
    right: 165px;
    bottom: -182px;
    border-radius: 100px 100px 100px 100px;

}
.window-right .win2{
    position: absolute;
    border: 5px solid white;
    background-color: #3e768e;
    height: 115px;
    width: 125px;
    right: 174px;
    bottom: -307px;
}
.win3-tip{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 155px;
    right: 390px;
    bottom: -368px;
    border-radius: 100px 100px 100px 100px;
}
.window-right .win3{
    position: absolute;
    border: 5px solid white;
    background-color: #3e768e;
    height: 115px;
    width: 125px;
    right: 400px;
    bottom: -493px;
}
.win4-tip{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 155px;
    right: 165px;
    bottom: -368px;
    border-radius: 100px 100px 100px 100px;
}
.window-right .win4{
    position: absolute;
    border: 5px solid white;
    background-color: #3e768e;
    height: 115px;
    width: 125px;
    right: 174px;
    bottom: -493px;
}
.window-left{

}
.win5-tip{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 156px;
    left: 390px;
    bottom: -182px;
    border-radius: 100px 100px 100px 100px;
}
.window-left .win5{
    position: absolute;
    border: 5px solid white;
    background-color: #3e768e;
    height: 115px;
    width: 125px;
    left: 400px;
    bottom: -307px;
}
.win6-tip{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 155px;
    left: 165px;
    bottom: -182px;
    border-radius: 100px 100px 100px 100px;
   

}
.window-left .win6{
    position: absolute;
    border: 5px solid white;
    background-color: #3e768e;
    height: 115px;
    width: 125px;
    left: 174px;
    bottom: -307px;
    
}
.win7-tip{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 155px;
    left: 390px;
    bottom: -368px;
    border-radius: 100px 100px 100px 100px;
    
}
.window-left .win7{
    position: absolute;
    border: 5px solid white;
    background-color: #3e768e;
    height: 115px;
    width: 125px;
    left: 400px;
    bottom: -493px;
    
}
.win8-tip{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 155px;
    left: 165px;
    bottom: -368px;
    box-shadow: 32px 0px -22px rgba(0,0,0,0.75);
    

}
.window-left .win8{
    position: absolute;
    border: 5px solid white;
    background-color: #3e768e;
    height: 115px;
    width: 125px;
    left: 174px;
    bottom: -493px;
    
}